streamlit
spacy
stable-baselines3
gymnasium
pandas
tsfresh
google-generativeai

---!!! THIS IS THE FIX !!!---

en_core_web_sm @ https://www.google.com/url?sa=E&source=gmail&q=https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-3.7.1/en_core_web_sm-3.7.1.tar.gz